section.product-display
	.container
		.brand-technology-top-wrapper
			.brand-technology-title-upper
				h2 Hamm
			.brand-navigation
				ul
					li.active
						a(href="#") Phụ kiện
					li
						a(href="#") Phụ tùng
					li
						a(href="#") Sản phẩm Hamm Everdigm
					li
						a(href="#") Công nghệ
		hr.dash-grey
		.product-item-wrapper
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
			.product-item
				.wrapper
					.product-image
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.product-caption
						a(href="#") Búa phá đá EHB25 - BA
