section.job-detail
	.container
		.row
			.col-lg-9
				article
					h2 Nhân viên kinh doanh
					hr.dash-grey
					.job-requirement-wrapper
						.job-requirement-item
							.icon
							.title
								p Chức vụ
							.caption
								p Nhân viên
						.job-requirement-item
							.icon
							.title
								p Ngành nghề
							.caption
								p Nhân viên content
						.job-requirement-item
							.icon
							.title
								p Chức vụ
							.caption
								p Nhân viên
						.job-requirement-item
							.icon
							.title
								p Ngành nghề
							.caption
								p Nhân viên content
						.job-requirement-item
							.icon
							.title
								p Chức vụ
							.caption
								p Nhân viên
						.job-requirement-item
							.icon
							.title
								p Ngành nghề
							.caption
								p Nhân viên content
						.job-requirement-item
							.icon
							.title
								p Chức vụ
							.caption
								p Nhân viên
						.job-requirement-item
							.icon
							.title
								p Ngành nghề
							.caption
								p Nhân viên content
					hr.dash-grey
					h3 Nộp hồ sơ
					p
						strong Tại văn phòng Vitrac: Số 990 - Xa lộ Hà Nội - Phường Bình Đa - Biên Hoà - Đồng Nai 
					ul
						li Đơn xin việc (ghi rõ vị trí ứng tuyển)
						li Sơ yếu lý lịch có xác nhận chính quyền địa phương
						li Văn bằng chứng chỉ liên quan
						li Giấy khám sức khỏe (thời hạn 6 tháng)
						li Hộ khẩu photo công chứng
						li CMND photo công chứng
					h3 Nộp hồ sơ
					p
						strong Tại văn phòng Vitrac: Số 990 - Xa lộ Hà Nội - Phường Bình Đa - Biên Hoà - Đồng Nai 
					ul
						li Đơn xin việc (ghi rõ vị trí ứng tuyển)
						li Sơ yếu lý lịch có xác nhận chính quyền địa phương
						li Văn bằng chứng chỉ liên quan
						li Giấy khám sức khỏe (thời hạn 6 tháng)
						li Hộ khẩu photo công chứng
						li CMND photo công chứng
					.job-apply-button-wrapper 
						.apply-button
							a(href="javascript:void(0)") Nộp hồ sơ
			.col-lg-3
				.other-vacancy-wrapper
					.other
					.article-title-job-yl
						h2 Tuyển dụng khác
					.bg-wrapper
						.other-vacancy
							h3
								a(href="#") nhân viên kinh doanh
							time 31.07.2018
						.other-vacancy
							h3
								a(href="#") nhân viên kinh doanh
							time 31.07.2018
						.other-vacancy
							h3
								a(href="#") nhân viên kinh doanh
							time 31.07.2018
						.other-vacancy
							h3
								a(href="#") nhân viên kinh doanh
							time 31.07.2018
