section.product-technology-detail
	.container
		.article-title-yl-start-normal
			h2 Oscillation
		hr.dash-grey
		.row
			.col-lg-7
				article
					.article-image
						img(src="./img/product/1.jpg", alt="")
			.col-lg-5
				article
					.content
						h2 The Principle of Oscillation
						p More  than  35  years  ago,  HAMM  developed  oscillation  and  thereby  revolutionised  compaction  technology.  Today,  HAMM  offers  more  than  35  machine  types  with  oscillation  drums  in  all  weight  classes.  Road  construction companies all over the world love using this  intelligent  technology  for  asphalt  construction  and earth work. This way, HAMM is responding to the growing  demands  on  high-quality  compaction  for  the most diverse surfaces and building materials.
						.download-content
							em.lnr.lnr-download
							a(href="") The Principle of Oscillation 35 years of oscillation: Tried and
						.download-content
							em.mdi.mdi-link
							a(href="") The Principle of Oscillation 35 years of oscillation: Tried and
						.download-content
							em.mdi.mdi-link
							a(href="") The Principle of Oscillation 35 years of oscillation: Tried and
						.download-content
							em.mdi.mdi-link
							a(href="") The Principle of Oscillation 35 years of oscillation: Tried and
		.product-technology-wrapper
			.product-technology-item
				.product-caption
					h4 Compaction systems
					p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the surface by vibrations in such a way that a grain relocation can take place into a closer position. With the vibration compaction the material which has to be compacted is set in vibration by vertical forces in rapid succession. As with the unique Hamm oscillation compaction tangential forces are introduced in the material to be compacted. The drum rests in constant contact to the soil and achieves therefore a faster compaction.
				.product-image
					img(src="./img/product/5.jpg", alt="")
			.product-technology-item
				.product-caption
					h4 Compaction systems
					p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
					h4 Compaction systems
					p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
				.product-image
					img(src="./img/product/5.jpg", alt="")
				
		.product-technology-item-caption
			.product-caption(style="flex: 0 0 100%;max-width:100%;text-align:left;")
				h4 Minimum oscillation stresses for the surrounding
				p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
		.product-technology-wrapper-trinity
			.row
				.col-lg-4
					.product-technology-item-caption
						.product-caption(style="flex: 0 0 100%;max-width:100%;text-align:left;")
							h4 Minimum oscillation stresses for the surrounding
							p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
				.col-lg-4
					.product-technology-item-caption
						.product-caption(style="flex: 0 0 100%;max-width:100%;text-align:left;")
							h4 Minimum oscillation stresses for the surrounding
							p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
				.col-lg-4
					.product-technology-item-caption
						.product-caption(style="flex: 0 0 100%;max-width:100%;text-align:left;")
							h4 Minimum oscillation stresses for the surrounding
							p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
		.product-technology-image-wrapper
			.product-technology-image
				.product-caption
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sint possimus doloribus labore quia eveniet aliquid!
				.product-image
					img(src="./img/product/1.jpg", alt="")
			.product-technology-image
				.product-image
					img(src="./img/product/1.jpg", alt="")
			.product-technology-image
				.product-image
					img(src="./img/product/1.jpg", alt="")
			.product-technology-image
				.product-image
					img(src="./img/product/1.jpg", alt="")

		.product-technology-wrapper-2
			.product-technology-item
				.product-image
					.play
						.play__icon
						video(muted="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
				.product-caption
					h4 Compaction systems
					p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
					h4 Compaction systems
					p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the 
		.other-technology-wrapper
			.other-technology-title
				h2 Công nghệ khác
			hr.dash-grey
			.brand-technology-item-wrapper
				.brand-technology-item
					h3 Oscillation
					.item-image
						a(href="#")
							img(src="./img/brand/2.png", alt="")
				.brand-technology-item
					h3 Oscillation
					.item-image
						a(href="#")
							img(src="./img/brand/2.png", alt="")
				.brand-technology-item
					h3 Oscillation
					.item-image
						a(href="#")
							img(src="./img/brand/2.png", alt="")
