section.product-brand-swiper
	.container
		.product-brand-wrapper
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.swiper-image
								a(href="#")
									img(src="./img/brand/brand.png", alt="")
					.swiper-slide
						.wrapper
							.swiper-image
								a(href="#")
									img(src="./img/brand/brand.png", alt="")
					.swiper-slide
						.wrapper
							.swiper-image
								a(href="#")
									img(src="./img/brand/brand.png", alt="")
					.swiper-slide
						.wrapper
							.swiper-image
								a(href="#")
									img(src="./img/brand/brand.png", alt="")
					.swiper-slide
						.wrapper
							.swiper-image
								a(href="#")
									img(src="./img/brand/brand.png", alt="")
					.swiper-slide
						.wrapper
							.swiper-image
								a(href="#")
									img(src="./img/brand/brand.png", alt="")
