<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Banner Trang chủ" value="1" resourcefile="" />
	<add name="Banner Top" value="2" resourcefile="" />
	<add name="Banner Partner" value="4" resourcefile="" />
	<add name="Banner home đối tác" value="8" resourcefile="" />

  </position>
  
</settings>
