section.product-brand-technology
	.container
		.brand-technology-top-wrapper
			.brand-technology-title-upper
				h2 Hamm
			.brand-navigation
				ul
					li.active
						a(href="#") Phụ tùng
					li
						a(href="#") Sản phẩm Hamm
					li
						a(href="#") Công nghệ
		hr.dash-grey
		.brand-technology-item-wrapper
			.brand-technology-item
				h3 Oscillation
				.item-image
					a(href="#")
						img(src="./img/brand/2.png", alt="")
				p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the surface by vibrations in such a way that a grain relocation can take place into a closer position. 
			.brand-technology-item
				h3 Oscillation
				.item-image
					a(href="#")
						img(src="./img/brand/2.png", alt="")
				p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the surface by vibrations in such a way that a grain relocation can take place into a closer position. 
			.brand-technology-item
				h3 Oscillation
				.item-image
					a(href="#")
						img(src="./img/brand/2.png", alt="")
				p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the surface by vibrations in such a way that a grain relocation can take place into a closer position. 
			.brand-technology-item
				h3 Oscillation
				.item-image
					a(href="#")
						img(src="./img/brand/2.png", alt="")
				p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the surface by vibrations in such a way that a grain relocation can take place into a closer position. 
			.brand-technology-item
				h3 Oscillation
				.item-image
					a(href="#")
						img(src="./img/brand/2.png", alt="")
				p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the surface by vibrations in such a way that a grain relocation can take place into a closer position. 
			.brand-technology-item
				h3 Oscillation
				.item-image
					a(href="#")
						img(src="./img/brand/2.png", alt="")
				p With dynamic compaction systems the compaction performance of a roller can be clearly improved. These systems are based on the fact to stimulate the surface by vibrations in such a way that a grain relocation can take place into a closer position. 
