section.about-us-display
	.container
		.about-us-nav
			ul
				li.active
					a(href="#") Thông điệp
				li
					a(href="#")  Giới thiệu chung
				li
					a(href="#") Lịch sử hình thành
				li
					a(href="#") tầm nhìn sứ mệnh
				li
					a(href="#") Sơ đồ tổ chức 
				li
					a(href="#") Nhà cung cấp
