section.vt-home-3.vt-section(setBackground='./img/home/bg-1.png')
	.container
		h2.vt-title Vì sao chọn VITRAC là đối tác
		.row
			.col-sm-6.col-lg-3
				.item
					figure
						figcaption
							p Sản phẩm chất lượng
						.image
							img(src="./img/home/4.png", alt="")
			.col-sm-6.col-lg-3
				.item
					figure
						figcaption
							p Sản phẩm chất lượng
						.image
							img(src="./img/home/4.png", alt="")
			.col-sm-6.col-lg-3
				.item
					figure
						figcaption
							p Sản phẩm chất lượng
						.image
							img(src="./img/home/4.png", alt="")
			.col-sm-6.col-lg-3
				.item
					figure
						figcaption
							p Sản phẩm chất lượng
						.image
							img(src="./img/home/4.png", alt="")
