section.doi-tac 
	.doi-tac-title 
		h1 đối tác
	.container 
		.list-item 
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/8.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/7.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/3.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/4.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/5.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/7.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/6.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/3.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/4.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/5.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/7.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/6.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/3.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/4.png", alt="")
			.item
				.img 
					img(src="Data/Sites/1/skins/default/img/brand/5.png", alt="")
			
