section.vt-product-list-v2
	.container
		.row
			-for (i=0;i<10;i++)
				.col-xl-4.col-md-6
					.product
						.img
							a(href="#")
								img(src="./img/product/1.png", alt="")
							.tag
								span Hot
							.view-more
								a(href="#") Xem thêm
						.info
							p.name 
								a(href="#") Lu 2 bánh sắt
							p.model HDO70V
							table
								tr
									td
										em.mdi.mdi-tag
										strong Thương hiệu
									td hamm
								tr
									td
										em.mdi.mdi-truck
										strong Model
									td HDO70V
								tr
									td
										em.mdi.mdi-calendar
										strong Năm sản xuất
									td 2015
								tr
									td
										em
										strong Giờ hoạt động
									td 0
								tr
									td
										em
										strong Serial
									td H1761205
								tr
									td
										em
										strong Địa điểm
									td HÀ NỘI

