<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="Tin-Tuc-Danh-Sach.xslt" name="Tin tức danh sách"></templatelist>
	<templatelist xsltname="Tuyen-Dung-Danh-Sach.xslt" name="Tuyển dụng danh sách"></templatelist>
	<templatelist xsltname="ThuongHieuCongNghe-DS.xslt" name="Danh sách thương hiệu công nghệ"></templatelist>
	<templatelist xsltname="Doi-tac.xslt" name="Đối tác"></templatelist>
	<templatelist xsltname="lien-he.xslt" name="liên hệ"></templatelist>
	<templatelist xsltname="Feedback.xslt" name="Feedback"></templatelist>
	<templatedetail xsltname="Tin-Tuc-Chi-Tiet.xslt" name="Tin tức chi tiết "></templatedetail>
	<templatedetail xsltname="bao-hanh-sua-chua.xslt" name="Bảo hành sửa chữa "></templatedetail>
	<templatedetail xsltname="Tuyen-Dung-Chi-Tiet.xslt" name="Tuyển dụng chi tiết "></templatedetail>
	<templatedetail xsltname="ThuongHieuGioiThieu.xslt" name="Giới thiệu thương hiệu"></templatedetail>
	<templatedetail xsltname="ThuongHieuSeries.xslt" name="Series thương hiệu"></templatedetail>
	<templatedetail xsltname="ThuongHieuCongNghe-CT.xslt" name="Chi tiết thương hiệu công nghệ"></templatedetail>
	<position>
		<add name="Trang chủ" value="1" resourcefile="" />
	</position>
</templates>
