.global-breadcrumb
	.container
		.bg-grey-skew
			h1 Lorem ipsum dolor 
		ol.breadcrumb
			li.breadcrumb-item
				a(href='#')
			li.breadcrumb-item
				a(href='#') Tin tức sự kiện
			li.breadcrumb-item.active(aria-current='page') Data
			li.breadcrumb-item
				a(href='#') Tin tức sự kiện
