section.employee-applicant
	.container
		.article-title-yl-start-upper
			h2 Thông tin tuyển dụng
		hr.dash-grey
		.row
			.col-lg-6
				article
					p.mb-16 Tổng công ty Vĩnh Phú rất xem trọng việc thu hút và phát triển nguồn lực con người, xem đây là một trong những yếu tố quan trọng quyết định sự thành công và phát triển bền vững của công ty. Chúng tôi luôn chào đón đội ngũ trẻ có ước mơ, hoài bão và tích cực học hỏi áp dụng những công nghệ, phương pháp quản lý hiện đại. Lực lượng quản lý của VITRAC có tuổi đời trung bình chỉ khoảng 30, hầu hết đến từ các công ty đa quốc gia hoặc các công ty có tiếng hàng đầu tại Việt Nam, với khát vọng xây dựng một thương hiệu Việt vươn ra tầm quốc tế. Hiện chúng tôi đang tìm kiếm ứng cử viên xuất sắc cho đội ngũ quản lý và lãnh đạo tương lai của công ty. 
					strong.upper-case Hồ sơ gửi về
					p Tổng Công ty Vĩnh Phú
					strong Trụ sở chính: 
						p Số 990 - Xa lộ Hà Nội - Phường Bình Đa - Biên Hoà - Đồng Nai 
					.line
						strong Điện thoại: 
							a(href="tel:061 3 831 615 ") 061 3 831 615 -
						strong Fax:
							a 061 3 836 836
					.line
						strong Website: 
							a(href="www.vitrac.vn") www.vitrac.vn - 
						strong Email: 
							a(href="mailto:vinhphu@vitrac.vn") vinhphu@vitrac.vn
			.col-lg-6
				article
					.article-image
						img(src="/img/news/1.jpg", alt="")
