section.product-detail
	.container
		.row
			.col-lg-6
				.product-swiper-wrapper
					.product-top-wrapper
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/3.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/2.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/3.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/3.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/3.png", alt="")
					.product-thumbs-wrapper
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/2.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/2.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/2.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/2.png", alt="")
			.col-lg-6
				.product-information-wrapper
					.product-name
						h2 Máy 3d424
					hr.dash-grey
					table
						tbody
							tr
								td Trọng lượng vận hành có Cabin
								td 12,200 kG
							tr
								td Chiều rộng làm việc
								td 2,140 mm
							tr
								td Công suất động cơ kW/PS/rpm
								td 100,0/ 136,0/ 2300 
							tr
								td Tiêu chuẩn khí thải
								td EU Stage IIIA / EPA Tier 3
							tr
								td Giấy đăng kiểm
								td down giaydangkiem.pdf
							tr
								td Giấy đăng kiểm
								td down giaydangkiem.pdf
							tr
								td Tải Brochure
								td 
									a(href="#")
										em.lnr.lnr-download
										down 3412-Catalog.pdf
					.bottom-button-wrapper
						.check-out-button
							a(href="#") Mua ngay
								em.lnr.lnr-arrow-right
						.social-network-wrapper
							.social-network-item
								a(href="#")
									em.fab.fa-facebook-f
							.social-network-item
								a(href="#")
									em.fab.fa-twitter
							.social-network-item
								a(href="#")
									em.fab.fa-youtube
			.col-lg-6
				.product-faq-wrapper
					.product-title-grey
						h3 Các đặc điểm nổi bật
						hr.dash-grey
					ul.faq-dashboard
						li
							span.title Vận hành thoải mái với 3 điểm khớp khob3 xoay chống rung lắc cabin
							.content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sequi nesciunt ipsam, corrupti adipisci vel voluptatum alias ducimus, nulla rerum, facere animi reiciendis repudiandae laudantium tempora expedita? Tenetur, ducimus incidunt.
						li
							span.title Vận hành thoải mái với 3 điểm khớp khob3 xoay chống rung lắc cabin
							.content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sequi nesciunt ipsam, corrupti adipisci vel voluptatum alias ducimus, nulla rerum, facere animi reiciendis repudiandae laudantium tempora expedita? Tenetur, ducimus incidunt.
						li
							span.title Vận hành thoải mái với 3 điểm khớp khob3 xoay chống rung lắc cabin
							.content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sequi nesciunt ipsam, corrupti adipisci vel voluptatum alias ducimus, nulla rerum, facere animi reiciendis repudiandae laudantium tempora expedita? Tenetur, ducimus incidunt.
						li
							span.title Vận hành thoải mái với 3 điểm khớp khob3 xoay chống rung lắc cabin
							.content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sequi nesciunt ipsam, corrupti adipisci vel voluptatum alias ducimus, nulla rerum, facere animi reiciendis repudiandae laudantium tempora expedita? Tenetur, ducimus incidunt.


			.col-lg-6
				.product-size-wrapper
					.product-title-grey
						h3 Các kích thước máy
						hr.dash-grey
					table
						tbody
							tr
								td chiều  dài tổg thể (L)
								td mm
								td 5705
							tr
								td chiều  dài tổg thể (L)
								td mm
								td 5705
							tr
								td chiều  dài tổg thể (L)
								td mm
								td 5705
							tr
								td chiều  dài tổg thể (L)
								td mm
								td 5705
							tr
								td chiều  dài tổg thể (L)
								td mm
								td 5705
					.product-size-image
						img(src="./img/product/4.jpg", alt="")

			.tab-content-wrapper
				ul
					li.active
						a(href="javascript:void(0)" data-type="tab-1") giới thiệu chung
					li
						a(href="javascript:void(0)" data-type="tab-2") đặc tính kĩ thuật
				hr.dash-grey
				.tab-wrapper
					.tab-item#tab-1
						.tab-item-text
							h4 Trang bị tiêu chuẩn
							p 2 tay trang di chuyển, 3 điểm khớp xoay, be gạt đất cân chỉnh được bảng điều khiển với màn hình, đèn báo và công tắc, hệ thống kiểm g vận hành tiếp cận được từ 2 bên, trợ lái thủy lực, khoang điều khiển được bố trí chống rung lắc, thủy lực dẫn động tất cả các bánh vô cấp, tay vịn tiếp cận lên khoang điều khiển
						.tab-item-text
							h4 Trang bị tiêu chuẩn
							p 2 tay trang di chuyển, 3 điểm khớp xoay, be gạt đất cân chỉnh được bảng điều khiển với màn hình, đèn báo và công tắc, hệ thống kiểm soát chống trượt và di chuyển tự động, công tắc cắt mass, cột vô lăng lái và bảng điều khiển cân chỉnh được, khoang vận hành tiếp cận được từ 2 bên, trợ lái thủy lực, khoang điều khiển được bố trí chống rung lắc, thủy lực dẫn động tất cả các bánh vô cấp, tay vịn tiếp cận lên khoang điều khiển
						.tab-item-text
							h4 Trang bị tiêu chuẩn
							p 2 tay trang di chuyển, 3 điểm khớp xoay, be gạt đất cân chỉnh được bảng điều khiển với màn hình, đèn báo và công tắc, hệ thống kiểm soát chống trượt và di chuyển tự động, công tắc cắt mass, cột vô lăng lái và bảng điều khiển cân chỉnh được, khoang vận hành tiếp cận được từ 2 bên, trợ lái thủy lực, khoang điều khiển được bố trí chống rung lắc, thủy lực dẫn động tất cả các bánh vô cấp, tay vịn tiếp cận lên khoang điều khiển
					.tab-item#tab-2
						.tab-item-text
							h4 Trang bị tiêu chuẩn
							p 2 tay trang di chuyển, 3 điểm khớp xoay, be gạt đất cân chỉnh được bảng điều khiển với màn hình, đèn báo và công tắc, hệ thống kiểm soát chống trượt và di chuyển tự động, công tắc cắt mass, cột vô lăng lái và bảng điều khiển cân chỉnh được, khoang vận hành tiếp cận được từ 2 bên, trợ lái thủy lực, khoang điều khiển được bố trí chống rung lắc, thủy lực dẫn động tất cả các bánh vô cấp, tay vịn tiếp cận lên khoang điều khiển
						.tab-item-text
							h4 Trang bị tiêu chuẩn
							p 2 tay trang di chuyển, 3 điểm khớp xoay, be gạt đất cân chỉnh được bảng điều khiển với màn hình, đèn báo và công tắc, hệ thống kiểm soát chống trượt và di chuyển tự động, công tắc cắt mass, cột vô lăng lái và bảng điều khiển cân chỉnh được, khoang vận hành tiếp cận được từ 2 bên, trợ lái thủy lực, khoang điều khiển được bố trí chống rung lắc, thủy lực dẫn động tất cả các bánh vô cấp, tay vịn tiếp cận lên khoang điều khiển
						.tab-item-text
							h4 Trang bị tiêu chuẩn
							p 2 tay trang di chuyển, 3 điểm khớp xoay, be gạt đất cân chỉnh được bảng điều khiển với màn hình, đèn báo và công tắc, hệ thống kiểm soát chống trượt và di chuyển tự động, công g rung lắc, thủy lực dẫn động tất cả các bánh vô cấp, tay vịn tiếp cận lên khoang điều khiển


		
			.other-product-wrapper
				.product-title-yl-start
					h3 Sản phẩm khác
				hr.dash-grey
				.product-item-wrapper
					.product-item
						.wrapper
							.product-image
								a(href="#")
									img(src="./img/product/2.png", alt="")
							.product-caption
								a(href="#") Búa phá đá EHB25 - BA
					.product-item
						.wrapper
							.product-image
								a(href="#")
									img(src="./img/product/2.png", alt="")
							.product-caption
								a(href="#") Búa phá đá EHB25 - BA
					.product-item
						.wrapper
							.product-image
								a(href="#")
									img(src="./img/product/2.png", alt="")
							.product-caption
								a(href="#") Búa phá đá EHB25 - BA
					.product-item
						.wrapper
							.product-image
								a(href="#")
									img(src="./img/product/2.png", alt="")
							.product-caption
								a(href="#") Búa phá đá EHB25 - BA
					.product-item
						.wrapper
							.product-image
								a(href="#")
									img(src="./img/product/2.png", alt="")
							.product-caption
								a(href="#") Búa phá đá EHB25 - BA
