section.product-brand-article
	.container
		.article-title-yl-start-upper
			h2 Writgen group
		hr.dash-grey
		.row
			.col-lg-6
				article
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum quisquam asperiores nesciunt cumque quos eligendi, error nisi quas eaque at corrupti, cupiditate temporibus sed quidem provident dignissimos, ullam laudantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum quisquam asperiores nesciunt cumque quos eligendi, error nisi quas eaque at corrupti, cupiditate temporibus sed quidem provident dignissimos, ullam laudantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum quisquam asperiores nesciunt cumque quos eligendi, error nisi quas eaque at corrupti, cupiditate temporibus sed quidem provident dignissimos, ullam laudantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum quisquam asperiores nesciunt cumque quos eligendi, error nisi quas eaque at corrupti, cupiditate temporibus sed quidem provident dignissimos, ullam laudantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum quisquam asperiores nesciunt cumque quos eligendi, error nisi quas eaque at corrupti, cupiditate temporibus sed quidem provident dignissimos, ullam laudantium.
			.col-lg-6
				article
					.article-image
						img(src="./img/news/1.jpg", alt="")
