section.history-timeline
	.container
		.history-title-wrapper
			.article-title-yl-start-upper
				p Lịch sử hình thành
			.button-navigation-wrapper-history
				.history-navigation-prev
					em.lnr.lnr-chevron-left
				.history-navigation-next
					em.lnr.lnr-chevron-right
		.history-swiper-wrapper
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
					.swiper-slide
						.wrapper
							.swiper-caption
								.title
									p Đại diện tập đoàn Wirtgen Cộng hòa Liên bang Đức
							.swiper-image
								.caption-year
									p 2015
								.image-wrapper
									img(src="./img/about-us/4.png", alt="")
								
