section.news-detail
	.container
		.row
			.col-lg-9
				article
					h2 Giải pháp tối ưu thi công đường đua F1 tại Việt Nam
					hr.dash-grey
					h3 Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng)...
					p Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
					strong Từ kinh nghiệm của Singapore
					p Đến năm 2020, khi chặng đua F1 hoàn thành theo như kế hoạch thì Việt Nam là nước thứ 3 ở khu vực Đông Nam Á sau Singapore và Malaysia có đường đua F1. Năm 2008, Singapore chi ra đến 110 triệu USD để tổ chức, xây dựng đường đua F1. Nhờ khai thác tốt, họ đã thu về khoảng 150 triệu USD. Từ đó đến nay Singapore đều đặn được tổ chức một chặng đua F1 hằng năm.
					p Quay trở lại năm 2008, khi việc xây dựng đường đua F1 Grand Prix tại Singapore đang trong giai đoạn gấp rút, hai gói thầu chính trải bê tông nhựa đã được trao cho Công ty xây dựng của Tập đoàn OKP, Singapore. Gói thầu bao gồm việc tái tạo lại bề mặt cho tuyến đường Marina Bay, mở rộng mặt đường đại lộ Raffles và trải lớp bề mặt mới cho tuyến đường đua này cùng một số tuyến đường khác, bao gồm một phần tuyến Đại lộ Raffles, tuyến St. Andrews Road, đường Fullerton, cao tốc Nicholl và đại lộ Temasek. Ở công trình này, sau khi cào bóc bằng máy Wirtgen 5-5,5cm lớp mặt cũ, máy trải VÖGELE sẽ thảm lên từ 5-10 cm bê tông nhựa đặc biệt dùng cho tuyến đường đua F1.
					img(src="./img/news/1.jpg", alt="")
					p Một vài đoạn trên tuyến đường này được trải bằng loại vật liệu bê tông nhựa đặc biệt đảm bảo tuân theo các quy chuẩn khắt khe của Liên đoàn Ô tô Quốc tế (FIA).

			.col-lg-3
				.other-news-wrapper
					.article-title-news-yl
						h2 Bài viết khác
					.other-news-article-wrapper
						.other-news
							.news-image
								img(src="./img/news/1.jpg", alt="")
							.news-caption
								time 25/04/2019
								p Lễ ký biên bản hợp tác giữa Trường Đại học Công nghệ GTVT và Công ty Cổ phần Tổng Công ty Vĩnh Phú (Vitrac)
						.other-news
							.news-image
								img(src="./img/news/1.jpg", alt="")
							.news-caption
								time 25/04/2019
								p Lễ ký biên bản hợp tác giữa Trường Đại học Công nghệ GTVT và Công ty Cổ phần Tổng Công ty Vĩnh Phú (Vitrac)
