section.about-us-vision
	.container
		.article-title-yl-center-upper
			p Tầm nhìn - sứ mệnh giá trị cốt lõi
		.row.figure-wrapper
			.col-lg-5
				.content-image
					.figure-image
						img(src="./img/about-us/3.png", alt="")
			.col-lg-7
				.content-caption
					.content
						h5 Tầm nhìn
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						h5 Tầm nhìn
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
						p Trở thành doanh nghiệp hành đầu về quy mô, sự chuyên nghiệp và chất lượng dịch vụ trong lĩnh vực máy xây dựng tại Việt Nam và khu vực.
