section.news-display
	.container
		.navigation-tab-wrapper
			ol
				li.active
					a(href="#") Tin công ty
				li
					a(href="#") Sự kiện
				li
					a(href="#") tin công nghệ
		
		.tab-content-wrapper
			.tab-item
				.row
					.col-lg-6
						.news-swiper-wrapper
							.swiper-container.news-swiper
								.swiper-wrapper
									.swiper-slide
										.watch-more-page
											a(href="") Xem thêm
												img(src="./img/logo.png", alt="")
										.wrapper
											.swiper-image
												img(src="./img/news/1.jpg", alt="")
											.swiper-caption
												time 25/04/2019
												h2 Giải pháp tối ưu thi công đường đua f1 tại việt nam 
												h3 Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
								
									.swiper-slide
										.watch-more-page
											a(href="") Xem thêm
												img(src="./img/logo.png", alt="")
										.wrapper
											.swiper-image
												img(src="./img/news/1.jpg", alt="")
											.swiper-caption
												time 25/04/2019
												h2 Giải pháp tối ưu thi công đường đua f1 tại việt nam 
												h3 Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
								
							.news-button-prev
								em.lnr.lnr-chevron-left
							.news-button-next
								em.lnr.lnr-chevron-right
					.col-lg-6
						.news-item-side-wrapper
							.new-item-side
								.news-item-image
									img(src="./img/news/1.jpg", alt="")
								.news-caption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
									p Lễ ký biên bản hợp tác giữa Trường Đại học Công nghệ GTVT và Công ty Cổ phần Tổng Công ty Vĩnh Phú (Vitrac)
							.new-item-side
								.news-item-image
									img(src="./img/news/1.jpg", alt="")
								.news-caption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
									p Lễ ký biên bản hợp tác giữa Trường Đại học Công nghệ GTVT và Công ty Cổ phần Tổng Công ty Vĩnh Phú (Vitrac)
							.new-item-side
								.news-item-image
									img(src="./img/news/1.jpg", alt="")
								.news-caption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
									p Lễ ký biên bản hợp tác giữa Trường Đại học Công nghệ GTVT và Công ty Cổ phần Tổng Công ty Vĩnh Phú (Vitrac)
							.new-item-side
								.news-item-image
									img(src="./img/news/1.jpg", alt="")
								.news-caption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
									p Lễ ký biên bản hợp tác giữa Trường Đại học Công nghệ GTVT và Công ty Cổ phần Tổng Công ty Vĩnh Phú (Vitrac)

				.news-list-display
					.row.news-item-wrapper
						.col-md-4.news-item
							.news-item-image
								img(src="./img/news/1.jpg", alt="")
							.news-item-caption
								time 25/04/2019
								h4
									a(href="#") Lễ bàn giao xe bơm bê tông tự hành Everdigm đầu tiên tại Việt Nam bê tông thơ Huy Hoàng - Sóc Trăng
								p Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
						.col-md-4.news-item
							.news-item-image
								img(src="./img/news/1.jpg", alt="")
							.news-item-caption
								time 25/04/2019
								h4
									a(href="#") Lễ bàn giao xe bơm bê tông tự hành Everdigm đầu tiên tại Việt Nam bê tông thơ Huy Hoàng - Sóc Trăng
								p Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
						.col-md-4.news-item
							.news-item-image
								img(src="./img/news/1.jpg", alt="")
							.news-item-caption
								time 25/04/2019
								h4
									a(href="#") Lễ bàn giao xe bơm bê tông tự hành Everdigm đầu tiên tại Việt Nam bê tông thơ Huy Hoàng - Sóc Trăng
								p Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
