extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/main-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/dich-vu-phu-tung/index.pug
