extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'news-page'

block main
	include ../components/main-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/about-us/zone/index.pug
	include ../components/about-us/quotes/index.pug
	include ../components/about-us/introduce/index.pug
	include ../components/about-us/history/index.pug
	include ../components/about-us/vision/index.pug
	include ../components/about-us/structure/index.pug
	include ../components/about-us/partner/index.pug
	
