.news-list-display
	.row.news-item-wrapper
		.col-md-4.news-item
			.news-item-image
				img(src="./img/news/1.jpg", alt="")
			.news-item-caption
				time 25/04/2019
				h4
					a(href="#") Lễ bàn giao xe bơm bê tông tự hành Everdigm đầu tiên tại Việt Nam bê tông thơ Huy Hoàng - Sóc Trăng
				p Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
		.col-md-4.news-item
			.news-item-image
				img(src="./img/news/1.jpg", alt="")
			.news-item-caption
				time 25/04/2019
				h4
					a(href="#") Lễ bàn giao xe bơm bê tông tự hành Everdigm đầu tiên tại Việt Nam bê tông thơ Huy Hoàng - Sóc Trăng
				p Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
		.col-md-4.news-item
			.news-item-image
				img(src="./img/news/1.jpg", alt="")
			.news-item-caption
				time 25/04/2019
				h4
					a(href="#") Lễ bàn giao xe bơm bê tông tự hành Everdigm đầu tiên tại Việt Nam bê tông thơ Huy Hoàng - Sóc Trăng
				p Để xây dựng đường đua F1 theo tiêu chuẩn Liên đoàn Ô tô quốc tế (FIA), Việt Nam dự kiến kinh phí khoảng 60 triệu USD (hơn 1.450 tỉ đồng) và áp dụng công nghệ tiên tiến theo kinh nghiệm một số nước có đường đua F1. Trong đó phải kể đến việc thi công trải bê tông nhựa mặt đường đua bằng máy trải VÖGELE mà Singapore đã áp dụng thành công.
