section.vt-home-2.vt-section
	.container
		h2.vt-title Siêu thị máy xây dựng
		.product-status-content
			.product-status-content-item(data-status='status-1',style="display:block")
				.product-child-mobile-toggle Danh sách
				.product-child-tab
					-for(i=0;i<11; i++)
						.product-child-tab-item(data-child='child-1')
							figure
								.ic
									img(src="./img/ic-1.png", alt="")
								figcaption
									p Xe cẩu bánh xích (8)
							span 8
					.product-child-tab-item(data-child='child-2')
						figure
							.ic
								img(src="./img/ic-1.png", alt="")
							figcaption
								p Xe cẩu bánh xích (8)
						span 8
				.product-child-content
					.product-child-content-item(data-child='child-1' ,style="display:block")
						.row-5
							.w-20
								figure
									.image
										a(href="#")
											img(src="./img/home/6.png", alt="")
										.promotion
											p Mới
									figcaption
										a(href="#")
											h4  Kobelco
											h5  Cẩu bánh xích 7120S
							.w-20
								figure
									.image
										a(href="#")
											img(src="./img/home/6.png", alt="")
										.promotion
											p Mới
									figcaption
										a(href="#")
											h4  Kobelco
											h5  Cẩu bánh xích 7120S
							.w-20
								figure
									.image
										a(href="#")
											img(src="./img/home/6.png", alt="")
										.promotion
											p Mới
									figcaption
										a(href="#")
											h4  Kobelco
											h5  Cẩu bánh xích 7120S
							.w-20
								figure
									.image
										a(href="#")
											img(src="./img/home/6.png", alt="")
										.promotion
											p Mới
									figcaption
										a(href="#")
											h4  Kobelco
											h5 Cẩu bánh xích 7120S
							.w-20
								figure
									.image
										a(href="#")
											img(src="./img/home/6.png", alt="")
										.promotion
											p Mới
									figcaption
										a(href="#")
											h4  Kobelco
											h5 Cẩu bánh xích 7120S

		.vt-button
			a(href="#") Xem thêm
