.fixed-sidebar
	ul
		li
			a(href="#")
				em.mdi.mdi-voice
		li
			a(href="tel:02513831615")
				em.mdi.mdi-phone
			.phone-number
				a(href="tel:02513831615") 02513 831 615 
				
		li
			a(href="#")
				em.mdi.mdi-map-marker-radius
	
