section.about-us-partner
	.article-title-yl-center-upper 
		p NHà cung cấp
	.container
		.about-us-partner-wrapper
			.partner-navigation-prev
				em.lnr.lnr-chevron-left
			.partner-navigation-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.swiper-image
							img(src="./img/brand/8.png", alt="")
							
					.swiper-slide
						.swiper-image
							img(src="./img/brand/3.png", alt="")
							
					.swiper-slide
						.swiper-image
							img(src="./img/brand/4.png", alt="")
							
					.swiper-slide
						.swiper-image
							img(src="./img/brand/5.png", alt="")
							
					.swiper-slide
						.swiper-image
							img(src="./img/brand/6.png", alt="")
							
					.swiper-slide
						.swiper-image
							img(src="./img/brand/6.png", alt="")
							
					.swiper-slide
						.swiper-image
							img(src="./img/brand/6.png", alt="")
							