section.vt-home-1.vt-section
	.container
		h2.vt-title Sản phẩm độc quyền phân phối
		.row
			.col-lg
				.category-wrapper
					.category-heading
						h3 hạ tầng
					.category-list
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
			.col-lg
				.category-wrapper
					.category-heading
						h3 hạ tầng
					.category-list
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
			.col-lg
				.category-wrapper
					.category-heading
						h3 hạ tầng
					.category-list
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
			.col-lg
				.category-wrapper
					.category-heading
						h3 hạ tầng
					.category-list
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
			.col-lg
				.category-wrapper
					.category-heading
						h3 hạ tầng
					.category-list
						.category-item
							.name
								h5
									a(href="#") Lu Hamm Lu Hamm Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
						.category-item
							.name
								h5
									a(href="#") Lu Hamm
							.image
								a(href="#") 
									img(src="./img/home/2.png", alt="")
							.brand
								a(href="#") 
									img(src="./img/home/3.png", alt="")
