section.job-list-table
	.container
		.article-title-yl-center-upper
			h2 Cơ hội nghề nghiệp
		table.table
			thead.header
				tr
				th STT
				th Vị trí tuyển dụng
				th Số lượng
				th Hạn nộp hồ sơ
			tbody
				tr
					th 
					td(attribute="Chức vụ")
						a(href="#") trợ lý Kinh doanh
					td(attribute="Số lượng") 01
					td(attribute="Hạn nộp hồ sơ") 
						time 31.07.2019
				tr
					th 
					td(attribute="Chức vụ")
						a(href="#") trợ lý Kinh doanh
					td(attribute="Số lượng") 01
					td(attribute="Hạn nộp hồ sơ") 
						time 31.07.2019
				tr
					th 
					td(attribute="Chức vụ")
						a(href="#") trợ lý Kinh doanh
					td(attribute="Số lượng") 01
					td(attribute="Hạn nộp hồ sơ") 
						time 31.07.2019
				tr
					th 
					td(attribute="Chức vụ")
						a(href="#") trợ lý Kinh doanh
					td(attribute="Số lượng") 01
					td(attribute="Hạn nộp hồ sơ") 
						time 31.07.2019
				tr
					th 
					td(attribute="Chức vụ")
						a(href="#") trợ lý Kinh doanh
					td(attribute="Số lượng") 01
					td(attribute="Hạn nộp hồ sơ") 
						time 31.07.2019
