footer.vt-footer
	.container
		.row
			.col-lg-6
				.information-wrapper
					h3 CÔNG TY CP TỔNG CÔNG TY VĨNH PHÚ TRỤ SỞ CHÍNH 
					p Số 990, xa lộ Hà Nội, KP2, phường Bình Đa, Tp. Biên Hòa, tỉnh Đồng Nai.
					p ĐT: 
						a(href="#") 02513 831 615 
						| - Fax: 
						a(href="#") 02513 836 836  
						| - Email: 
						a(href="#") vinhphu@vitrac.vn 
						| - MST: 3600437439
			.col-lg-6
				.social-wrapper
					ul
						li
							a(href="#")
								em.fab.fa-facebook-f
						li
							a(href="#")
								em.fab.fa-youtube
						li
							a(href="#")
								em.fab.fa-instagram
				.copyright-wrapper
					p © 2019 Bản quyền thuộc về Vitrac. Tất cả các quyền được bảo hộ. Thiết kế bởi Cánh Cam
					ul
						li
							a(href="#") Điều khoản sử dụng
						li
							a(href="#") Chính sách bảo mật
