<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Hạ tầng" value="1" resourcefile="" />
    <add name="Bê tông" value="2" resourcefile="" />
    <add name="Nâng hạ" value="4" resourcefile="" />
    <add name="Khai thác mỏ" value="8" resourcefile="" />
    <add name="San lấp" value="16" resourcefile="" />
	<add name="Siêu thị máy xây dựng Sản phẩm mới" value="32" resourcefile="" />
	<add name="Phụ tùng" value="64" resourcefile="" />
	<add name="Siêu thị máy xây dựng Sản phẩm đã sữ dụng" value="128" 
	resourcefile="" />
	<add name="Phụ tùng Sản phẩm mới " value="256" resourcefile="" />
	<add name="Phụ tùng Sản phẩm đã sữ dụng " value="512" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />
  <showoption name="hot" value="4" class="promotion op3" />

  <templatelist xsltname="DanhSachSanPham.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ThuongHieuSanPham.xslt" name="Danh sách sản phẩm ở thương hiệu" />
  <templatedetail xsltname="ChiTietSanPham.xslt" name="Chi tiet sản phẩm" />

</templates>
