<?xml version="1.0" encoding="utf-8" ?>
<settings>

	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Home Left Menu" value="1" resourcefile="" />
		<add name="Home Right Menu" value="2" resourcefile="" />
		<add name="News Navigation" value="4" resourcefile="" />
		<add name="Sản phẩm nav" value="8" resourcefile="" />
		<add name="Mega Menu" value="16" resourcefile="" />
		<add name="Siêu thị máy xây dựng" value="32" resourcefile="" />
		<add name="Phụ tùng" value="64" resourcefile="" />
		<add name="Dich vụ phụ tùng navigation" value="128" resourcefile="" />
		<add name="Giới thiệu navigation" value="256" resourcefile="" />
		<add name="Mega menu Phụ tùng" value="512" resourcefile="" />
		<add name="Mega menu Thương hiệu " value="1024" resourcefile="" />
		<add name="Đối tác " value="2048" resourcefile="" />
		<add name="menu phụ tùng " value="4096" resourcefile="" />
		<add name="đối tác trang giới thiệu" value="8192" resourcefile="" />
		<add name="đối tác home" value="16384" resourcefile="" />
		
	</position>

</settings>
