section.introduce-about-us-company
	.container
		.article-title-yl-center-upper
			p Giới thiệu chung
		.table-wrapper
			table
				tbody
					tr
						td Thương hiệu giao dịch
						td 2,140 mm
					tr
						td Công suất động cơ kW/PS/rpm
						td 100,0/ 136,0/ 2300 
					tr
						td Tiêu chuẩn khí thải
						td EU Stage IIIA / EPA Tier 3
					tr
						td Giấy đăng kiểm
						td down giaydangkiem.pdf
					tr
						td Giấy đăng kiểm
						td down giaydangkiem.pdf
