section.vt-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					.swiper-image
						img(src="./img/home/1.png", alt="")
					.swiper-content
						h1 vitrac - người tốt
						p sản phẩm tốt
			.swiper-slide
				a(href="#")
					.swiper-image
						img(src="./img/home/1.png", alt="")
					.swiper-content
						h1 vitrac - người tốt
						p sản phẩm tốt
		.swiper-pagination
