section.working-condition
	.container
		.row
			.col-sm-6.col-lg-4
				figure
					.figure-image
						img(src="./img/news/1.jpg", alt="")
					.logo-yellow-button
						img(src="./img/logo.png", alt="")
					figcaption
						h3 Hệ thống lương & thưởng 
						p Chính sách lương của Vitrac cao hơn bình quân thị trường, phản ánh đúng năng lực và đóng góp của mỗi cá nhân.
						p Ngoài ra, Vitrac xây dựng chính sách khen thưởng cao, đảm bảo được việc phát huy tối đa năng lực và ghi nhận cống hiến của mỗi nhân viên như: Thưởng các ngày lễ trong năm, thưởng Tết từ 5 – 10 tháng lương; Thưởng doanh thu, thưởng KPI, thưởng quý, thưởng năm...
			.col-sm-6.col-lg-4
				figure
					.figure-image
						img(src="./img/news/1.jpg", alt="")
					.logo-yellow-button
						img(src="./img/logo.png", alt="")
					figcaption
						h3 Hệ thống lương & thưởng 
						p Chính sách lương của Vitrac cao hơn bình quân thị trường, phản ánh đúng năng lực và đóng góp của mỗi cá nhân.
						p Ngoài ra, Vitrac xây dựng chính sách khen thưởng cao, đảm bảo được việc phát huy tối đa năng lực và ghi nhận cống hiến của mỗi nhân viên như: Thưởng các ngày lễ trong năm, thưởng Tết từ 5 – 10 tháng lương; Thưởng doanh thu, thưởng KPI, thưởng quý, thưởng năm...
			.col-sm-6.col-lg-4
				figure
					.figure-image
						img(src="./img/news/1.jpg", alt="")
					.logo-yellow-button
						img(src="./img/logo.png", alt="")
					figcaption
						h3 Hệ thống lương & thưởng 
						p Chính sách lương của Vitrac cao hơn bình quân thị trường, phản ánh đúng năng lực và đóng góp của mỗi cá nhân.
						p Ngoài ra, Vitrac xây dựng chính sách khen thưởng cao, đảm bảo được việc phát huy tối đa năng lực và ghi nhận cống hiến của mỗi nhân viên như: Thưởng các ngày lễ trong năm, thưởng Tết từ 5 – 10 tháng lương; Thưởng doanh thu, thưởng KPI, thưởng quý, thưởng năm...
