section.vt-home-4.vt-section
	.container
		h2.vt-title Tin tức - Sự kiện
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.item
						figure
							.image
								a(href="#")
									img(src="./img/home/5.png", alt="")
							figcaption
								time
									a(href="#") 25/04/2019
								h5
									a(href="#") Giải pháp tối ưu thi công đường đua F1 tại Việt Nam
				.swiper-slide
					.item
						figure
							.image
								a(href="#")
									img(src="./img/home/5.png", alt="")
							figcaption
								time
									a(href="#") 25/04/2019
								h5
									a(href="#") Giải pháp tối ưu thi công đường đua F1 tại Việt Nam
				.swiper-slide
					.item
						figure
							.image
								a(href="#")
									img(src="./img/home/5.png", alt="")
							figcaption
								time
									a(href="#") 25/04/2019
								h5
									a(href="#") Giải pháp tối ưu thi công đường đua F1 tại Việt Nam
